:root {
  --primaryColor: #fdff00;
  --secondaryColor: #336666;
  --tertiaryColor: #99b333;
  --fourtColor: #fdff39;
  --lightColor: #feff72;
  --darkColor: #3f3f3f;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  
  .contact-main-container {
  flex-grow: 1  ;
  background-color: var(--darkColor);
  width: 100%;
  padding: 10px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  margin: 0 auto;
  background-color: var(--darkColor);
  padding: 0 10px;
  border: 2px solid var(--fourtColor);
  box-shadow: 2px 2px 4px var(--tertiaryColor);
}


.contact-main-container h4 {
  width: 100%;
  color: white;
  border-bottom: #fdff00 2px solid;
}

.contact-form-container form{
    flex-grow: 1;
    padding: auto 10%;
    display: grid;
    grid-template-columns: repeat(3, minmax(1fr, 2fr));
}



.input-box {
  width: max-content;
  color: white;
  border-bottom:  2px solid var(--lightColor);
  position: relative;
  margin: 0 auto;
}

.input-box > input{
  font-weight: 500;
  color: red;
}

.custom-btn{
  border: 2px solid var(--fourtColor);
  width: max-content;
  height: 50px;
  margin: 30px auto;
  font-weight: 500;
  color: white;
}

.custom-btn:hover{
  background-color: var(--fourtColor);
  border: white 2px solid;
  color: var(--darkColor);
}


.input-container input::placeholder{
 color: var(--darkColor);
}