
:root {
    --primaryColor: #fdff00;
    --secondaryColor: #336666;
    --tertiaryColor: #99b333;
    --fourtColor: #fdff39;
    --lightColor: #feff72;
    --darkColor: #3f3f3f;
  }
  
body{
    background-color: var(--darkColor);
}

.modalForm{
    top: 70px;
}

.btn-modal{
    background-color: var(--secondaryColor);
    color: #fff;
border: none;
}
.btn-modal:hover{
    background-color: var(--darkColor);
    border: 1px solid var(--primaryColor);
}


.tableBody{
    color: var(--primaryColor);
    overflow: scroll;
}
